html {
    /* 111111 */
    font-size: 10px;
    font-family: 'Open Sans' , sans-serif;
    background: #00539F;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0 ;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
}

img {
    display: block;
    margin: 0 auto;
}

p , li {
    font-size: 16px;
    /*行高*/
    line-height: 2;
    /*字间距*/
    letter-spacing: 1px;
}